.right {
    gap: 10px;
}

.dialog-bg {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.142);
}

.dialog {
    position: absolute;
    top: 20%;
    width: max(30vw, 45vh) !important;
}